<div class="card text-center bg-dark text-white mt-3">

  <div class="card-body">
    <h5 class="card-title">Nguyễn Hữu Thắng</h5>
    <p class="card-text">Email:Huuthang.nguyen.986@gmail.com</p>
   
  </div>
  <div class="card-footer text-muted">
      SĐT:0974997025
  </div>
</div>