<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/admin">Trang chủ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ml-4">
      {{!-- <li class="nav-item active m-2">
        <a class="nav-link" href="#">Home </a>
      </li> --}}
      <li class="nav-item m-2">
        <a class="nav-link" href="/admin/pokemon">Quản lý Pokemon</a>
      </li>
      <li class="nav-item m-2">
        <a class="nav-link" href="#">Quản lý user</a>
      </li>
      {{!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> --}}
      {{!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>--}}
    </ul> 
    <div class="btn-group dropleft">
        <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i class="fas fa-cog"></i>
        </button>
        <div class="dropdown-menu" >
            <!-- Dropdown menu links -->
            <a class="dropdown-item" href="/admin/logout"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
            <button class="dropdown-item"  data-toggle="modal" data-target="#exampleModalCenter" href="#"> <i class="fas fa-lock-open"></i> Đổi mật khẩu</button>
        </div>
        </div>
{{!--    
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> --}}
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Đổi mật khẩu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form method="POST" action="/admin/changepassword" id="changepassword">
       <div id="tag-err">
          <p class="text-danger"  id="eror-pass"></p>   
       </div>
        
      <div class="form-group">
          <label for="oldpassowrd">Mật khẩu cũ </label>
  
          <input type="password" class="form-control" id="oldpassword" name="oldpassword"  placeholder="Old Password">
        </div>
        <div class="form-group">
          <label for="newpassword">Mật khảu mới </label>
          <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="New Password">
        </div>
         <div class="form-group">
          <label for="comfirmpassword">Nhập lại mật khẩu mới </label>
          <input type="password" class="form-control" id="comfirmpassword" name="comfirmpassword" placeholder="Comfirm Password">
        </div>
  </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" id="btn-changepassword" class="btn btn-primary">Đổi mật khẩu</button>
      </div>
    </div>
  </div>
</div>