<div class="modal-search-advanced" id="modal-search-avanced"> 
        <h3>Search Advanced</h3>
        <div class="modal-search-container">
                <div class="modal-search-left">
                        <div class="type-select">
                                <P>Type</P>
                                <div class="select">
                                <select id="type-modal">
                                <option value="0">Không chọn</option>
                                </select>
                                </div>
                        </div>
                        <div class="number-ranger">
                                <p>Number Ranger</p>
                                <div class="input-ranger">
                                <input type="text" value="1" >
                                <span> - </span>
                                <input type="text" id="max-pokemon" >
                                </div>
                        </div>
                        <div>

                        </div>
                </div>
                <div class="modal-search-right">
                        <div class="ability-select">
                                <P>Ability</P>
                                <div class="select">
                                <select id="ability-option-modal">
                                <option value="0">Không chọn</option>
                                </select>
                                </div>
                        </div>
                        <button class="btn-search-modal">Tìm kiếm</button>
                        <button class="btn-search-modal" id="close-modal-search">Close</button>
                </div>
        </div>
</div>
<div class="footer">
<footer>
        <div class="top_header">
        <section>
                <span><i class="fa fa-map-marker"></i></span>
                <span>Hà Nội - Việt Nam </span>
        </section>
        <section>
                <span><i class="fa fa-phone"></i></span>
                <span>0974997025</span>
        </section>
        <section>
                <span><i class="fa fa-envelope"></i></span>
                <span>huuthang.nguyen.986@gmail.com</span>
        </section>
        </div>
         <span class="border-shape"></span>
        <div class="bottom_content">
        <section>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-telegram"></i></a>
        </section>
        </div>
        <div class="copyright">
        Copyright © 2021 websitename - All rights reserved 
        </div>
</footer>
 </div>