<div class="header">
            <div class="top-nav">
            </div>
            <div class="nav-bar">
                <div class="nav-menu">
                    <ul class="menu">
                        <li class="item-menu"><a class="pokemon-trainer"  href="/"> <span class="icon-home"> <img class="imageicon" src="/public/img/pokemon-trainer.png"/></span> <p class="text-menu-child">Home </p></a></li>
                        <li class="item-menu"><a class="pokeball"  href="/"> <span class="icon-home"> <img class="imageicon" src="/public/img/pokeball.png"/> </span>  <p class="text-menu-child"> Pokédex</p> </a></li>
                        <li class="item-menu"><a class="controller"  href="/">   <span class="icon-home"> <img class="imageicon" src="/public/img/controller.png"/> </span> <p class="text-menu-child"> Video Games & App</p>  </a></li>
                        <li class="item-menu"><a class="card-game"  href="/">    <span class="icon-home"> <img class="imageicon" src="/public/img/card-game.png"/> </span><p class="text-menu-child"> Trading Card Game</p>  </a></li>
                        <li class="item-menu"><a class="television"  href="/">   <span class="icon-home"> <img class="imageicon" src="/public/img/television.png"/> </span><p class="text-menu-child"> Pokémon TV </p>  </a></li>
                        <li class="item-menu"><a class="trophy"  href="/">  <span class="icon-home"> <img class="imageicon" src="/public/img/trophy.png"/> </span> <p class="text-menu-child"> Play! Pokémon Event </p>  </a> </li>
                        <li class="item-menu"><a class="newspaper"  href="/">    <span class="icon-home"> <img class="imageicon" src="/public/img/newspaper-folded.png"/> </span> <p class="text-menu-child">New </p>  </a></li>
                    </ul>
                </div>
               
            </div>
</div>