<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/card_content.css">
    <link rel="stylesheet" href="/public/css/drawer.css">
    <link rel="stylesheet" href="/public/css/card-search.css">
    <link rel="stylesheet" href="/public/css/card-pokemon.css">
    <link rel="stylesheet" href="/public/css/modal-search-advanced.css">
    {{{_sections.css}}}
    <title>The Offica Pokemon WebSite</title>
</head>
<body>
    <div class="container_body">
        {{>header}}
        {{{body}}}
        {{>footer}}
        {{_sections.modal}}
    </div>
  <div class="drawer">
        <div class="draw-login">
          <a href="javascript:void(0)" id="searh-advanced-dra">
               <i class="fas fa-search search-i  user-i"></i>
                {{!-- <p class="login-text"> Seach </p> --}}
                {{!-- <i class="fas fa-user-circle user-i"></i><br/>
                <p class="login-text">  Log In </p> --}}
            </a>
        </div>
        {{!-- <div class="draw-search">
            <i class="fas fa-search search-i"></i>
        </div> --}}
    </div> 
    {{!-- ->
    <div class="container_body">
        <div class="header">
            <div class="top-nav">
            </div>
            <div class="nav-bar">
                <div class="nav-menu">
                    <ul class="menu">
                        <li class="item-menu"><a class="pokemon-trainer"  href=""> <span class="icon-home"> <img class="imageicon" src="/public/img/pokemon-trainer.png"/></span> <p class="text-menu-child">Home </p></a></li>
                        <li class="item-menu"><a class="pokeball"  href=""> <span class="icon-home"> <img class="imageicon" src="/public/img/pokeball.png"/> </span>  <p class="text-menu-child"> Pokédex</p> </a></li>
                        <li class="item-menu"><a class="controller"  href="">   <span class="icon-home"> <img class="imageicon" src="/public/img/controller.png"/> </span> <p class="text-menu-child"> Video Games & App</p>  </a></li>
                        <li class="item-menu"><a class="card-game"  href="">    <span class="icon-home"> <img class="imageicon" src="/public/img/card-game.png"/> </span><p class="text-menu-child"> Trading Card Game</p>  </a></li>
                        <li class="item-menu"><a class="television"  href="">   <span class="icon-home"> <img class="imageicon" src="/public/img/television.png"/> </span><p class="text-menu-child"> Pokémon TV </p>  </a></li>
                        <li class="item-menu"><a class="trophy"  href="">  <span class="icon-home"> <img class="imageicon" src="/public/img/trophy.png"/> </span> <p class="text-menu-child"> Play! Pokémon Event </p>  </a> </li>
                        <li class="item-menu"><a class="newspaper"  href="">    <span class="icon-home"> <img class="imageicon" src="/public/img/newspaper-folded.png"/> </span> <p class="text-menu-child">New </p>  </a></li>
                    </ul>
                </div>
               
            </div>
        </div>
        <div class="content">
            <div class="content-center">
                    <div class="card-content-center">
                            <div class="card-rt">
                            <a href="">
                                <div class="card-rt-content">
                                    <img class="img-card-ct" src="/public/img/card-1.jpg"/>
                                    <div class="cart-rt-text" >
                                        <h3>Ed Sheeran Rocks Pokémon GO on November 22</h3>
                                        <p>The singer-songwriter is putting on a special performance, available in Pokémon GO.</p>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="card-lt">
                                <div class="card-lt-top">
                                    <div class="img-card-lt-top">
                                        <img src="/public/img/swsh08-launch-34-en.jpg"/>
                                    </div>
                                
                                    <p> Fusion Strike</p>
                                </div>
                                <div class="card-lt-bottom">
                                    
                                </div>
                            </div>
                    </div>
            </div>
        </div>
        <div class="footer">
                <div>

                </div>
        </div>
    </div> --}}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/public/js/script.js"></script>
<script src="/public/js/menu_script.js"></script>
<script src="/public/js/scroll_menufixed.js"></script>
<script src="/public/js/modal-search-advanced.js"></script>
{{{_sections.js}}}
</html>