<div class="content">
            <div class="content-center">
                    {{!-- SEARCH input --}}
                        <div class="card-next-pokemon">
                                <div class="pev-pokemon">
                                    <p>  <span aria-hidden="true">&laquo;</span> Previous</p>
                                </div>
                                <div class="next-pokemon">
                                    <p>Next <span aria-hidden="true">&raquo;</span></p>
                                </div>
                        </div>
                        <div class="detail-pokemon">
                            <div class="namePokemon">
                                <p class="name-pokemon">Bulbasaur</p>
                                <p class="number-pokemon">#001</p>
                            </div>

                            <div class="pokemon-see-details">
                                <div class="left-details" >
                                    <div class="image-pokemon">
                                        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png" alt="">
                                    </div>
                                    <div class="chi-so-pokemon">

                                    </div>

                                </div>
                                <div class="right-details">
                                    <div class="description">
                                        <p>There is a plant seed on its back right from the day this Pokémon is born. The seed slowly grows larger</p>
                                    </div>
                                    <div class="theluc">
                                     <div class="bang-the-luc">
                                         <div class="gr gr-hieght">
                                            <p class="gr-text">Height</p>
                                            <p class="gr-read">2' 04"</p>
                                         </div>
                                         <div class="gr gr-category">
                                            <p class="gr-text">Category</p>
                                            <p class="gr-read">Seed</p>
                                         </div>
                                         <div class="gr gr-weight">
                                            <p class="gr-text">Weight</p>
                                            <p class="gr-read">15.2 lbs</p>
                                         </div>
                                         <div class="gr gr-abilities">
                                            <p class="gr-text">Abilities</p>
                                            <p class="gr-read">Overgrow</p>
                                         </div>
                                         <div class="gr gr-abilities">
                                            <p class="gr-text">Gender</p>
                                            <p class="gr-read">Chưa có</p>
                                         </div>
                                         {{!-- <div class="gr gr-abilities">
                                            <p class="gr-text">Abilities</p>
                                            <p class="gr-read">Overgrow</p>
                                         </div> --}}
                                     </div>

                                    </div>
                                    <div class="type-pokemon">

                                    </div>
                                </div>
                            </div>
                        </div>      
            </div>    
            
</div>
     
