<div class="content">
            <div class="content-center">
                    {{!-- SEARCH input --}}
                        <div class="card-next-pokemon">
                                <div class="pev-pokemon">
                                    <p>Previous</p>
                                </div>
                                <div class="next-pokemon">
                                    <p>Next</p>
                                </div>
                        </div>

                        <div class="detail-pokemon">

                        </div>      
            </div>    
            
</div>
     
