{{#section 'js'}}
    <script>
        var type2 = document.querySelectorAll(".typePokemon2");
        type2.forEach(function(type){
               if(type.textContent==''){
                type.classList.add('bgwhite')
               }
        })
    </script>
{{/section}}
<div class="content">
                <div class="content-center">
                    {{!-- SEARCH input --}}
                        <div class="card-search-center">
                                <div class="card-rt">
                                    <h3>WHO THAT POKEMON ?</h3>
                                    <div class="card-rt-content">
                                    <input type="text" placeholder="Who that pokemon ?">
                                    <button class="btn-search">Tìm kiếm </button>
                                    </div>
                                    {{!-- <p> Tìm kiếm theo tên của chúng</p> --}}
                                </div>
                        </div>
                        <div class="card-pokemon-content">
                            {{#each pokemon}}
                            <div class="item-card-pokemon">
                                <a href="/pokemon/{{idPokemon}}">
                                    <div class="item-img-pokemon">
                                    <img   src="{{image}}"/>
                                    </div>
                                    <div class="item-infor-pokemon">
                                            <p>#001</p>
                                            <h5>{{name}}</h5>
                                            <div class="item-abilities-pokemon">
                                                <p class="typePokemon1">{{nameCategory}}</p>
                                                <p class="typePokemon2"></p>
                                            </div>
                                    </div>
                                </a>
                            </div>   
                            {{/each}}
                        </div>         
                </div>    
</div>
     
