<div class="content">
                <div class="content-center">
                    {{!-- SEARCH input --}}
                        <div class="card-search-center">
                                <div class="card-rt">
                                    <h3>WHO THAT POKEMON ?</h3>
                                    <div class="card-rt-content">
                                    <input type="text" placeholder="Who that pokemon ?">
                                    <button class="btn-search">Tìm kiếm </button>
                                    </div>
                                    {{!-- <p> Tìm kiếm theo tên của chúng</p> --}}
                                </div>
                        </div>
                        <div class="card-pokemon-content">
                            <div class="item-card-pokemon">
                                <a href="/pokemon/1">
                                    <div class="item-img-pokemon">
                                    <img   src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"/>
                                    </div>
                                    <div class="item-infor-pokemon">
                                            <p>#001</p>
                                            <h5>Bulbasaur</h5>
                                            <div class="item-abilities-pokemon">
                                                <p>Grass</p>
                                                <p>Posion</p>
                                            </div>
                                    </div>
                                </a>
                               
                            </div>
                            <div class="item-card-pokemon">
                                <a href="">
                                    <div class="item-img-pokemon">
                                    <img   src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"/>
                                    </div>
                                    <div class="item-infor-pokemon">
                                            <p>#001</p>
                                            <h5>Bulbasaur</h5>
                                            <div class="item-abilities-pokemon">
                                                <p>Grass</p>
                                                <p>Posion</p>
                                            </div>
                                    </div>
                                </a>         
                            </div>
                            <div class="item-card-pokemon">
                                <a href="">
                                    <div class="item-img-pokemon">
                                    <img   src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"/>
                                    </div>
                                    <div class="item-infor-pokemon">
                                            <p>#001</p>
                                            <h5>Bulbasaur</h5>
                                            <div class="item-abilities-pokemon">
                                                <p>Grass</p>
                                                <p>Posion</p>
                                            </div>
                                    </div>
                                </a>
                               
                            </div>
                            <div class="item-card-pokemon">
                                <a href="">
                                    <div class="item-img-pokemon">
                                    <img   src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"/>
                                    </div>
                                    <div class="item-infor-pokemon">
                                            <p>#001</p>
                                            <h5>Bulbasaur</h5>
                                            <div class="item-abilities-pokemon">
                                                <p>Grass</p>
                                                <p>Posion</p>
                                            </div>
                                    </div>
                                </a>
                               
                            </div>

                            <div class="item-card-pokemon">
                                <a href="">
                                    <div class="item-img-pokemon">
                                    <img   src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"/>
                                    </div>
                                    <div class="item-infor-pokemon">
                                            <p>#001</p>
                                            <h5>Bulbasaur</h5>
                                            <div class="item-abilities-pokemon">
                                                <p>Grass</p>
                                                <p>Posion</p>
                                            </div>
                                    </div>
                                </a>
                            </div>                          
                        </div>         
                </div>    
</div>
     
