.card-next-pokemon{
    margin: 0;
    padding: 0;
    height: 120px;
    width: 100%;
    margin-top: 20px;
    flex: 10%;
    display: flex;
    background-color: #fff;
    box-sizing: border-box;
}
.detail-pokemon{
    flex: 85%;
    display: flex;
    justify-content: center;
    /* background-color: bisque; */
    flex-direction: column;
}
.pev-pokemon{
    flex: 50%;
    background-color: #a4a4a4;
    margin-right: 5px;
    cursor: pointer;
}
.next-pokemon{
    flex: 50%;
    background-color: #a4a4a4;;
    margin-left: 5px;
    cursor: pointer;
}
.pev-pokemon>p{
    text-align: center;
    font-family:'Flexo-Bold' ;
    font-size: 40px;
    color: #fff;
}
.next-pokemon>p{
    text-align: center;
    font-family:'Flexo-Bold' ;
    font-size: 40px;
    color: #fff;
}
.next-pokemon:hover{
    background: rgb(99, 184, 241);;
}
.pev-pokemon:hover{
    background: rgb(99, 184, 241);;
}
.detail-pokemon{
   
}
.namePokemon{
    flex: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.namePokemon>p{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Flexo-Medium";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}
.number-pokemon{
    color: #616161;;
}
.pokemon-see-details{
    flex: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    margin-left: 115px;
}
.pokemon-see-details>.left-details{
    flex: 50%;
    box-sizing: border-box;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
   
}
.pokemon-see-details>.right-details{
    flex: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.image-pokemon{
    flex: 20px;
    width: 100%;
    
    display: flex;
    justify-content: center;
}
.image-pokemon>img{
    background-color: rgb(228, 228, 228);
    height: 430px;
    width: 400px;
    border-radius: 15px;
}
.chi-so-pokemon{
    display: flex;
    flex: 80%;
    background-color: rgb(182, 182, 182);
    height: 400px;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 73px;
    flex-direction: column;
    padding-left: 20px;
    border-radius:10px ;
}
.right-details>.description{
        flex: 8%;
        /* background-color:red ; */
}
.description{
    font-family: "Flexo-Medium";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    padding-left: 13px;
}
.theluc{
    flex: 35%;
    /* background-color: rgb(99, 184, 241); */
    display: flex;
    justify-content: center;

}
.type-pokemon{
    flex: 35%;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(99, 241, 99); */
}
.bang-the-luc{
    margin: 10px;
    border-radius: 10px;
    width: 90%;
    background: #30a7d7;
    display: flex;
    flex-wrap: wrap;
}
.bang-the-luc>.gr{
width: 250px;
height: 80px;
/* background: chartreuse; */
margin: 2px;
}
.bang-the-luc>.gr>.gr-text{
    font-family: "Flexo-Medium";
    font-style: normal;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 5px;

}
.bang-the-luc>.gr>.gr-read{
    font-family: "Flexo-Medium";
    font-style: normal;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.type-cls{
    font-family: "Flexo-Medium";
    font-style: normal;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    width: 95%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.type-title{
    margin-bottom: 0;
}
.item-type-cls{
    display: flex;
    flex-direction: row;
}
.item-type-cls>p{
    font-size: 17px;
    margin-left: 10px;
    padding: 2px 20px;
    background-color: beige;
    border-radius: 5px;
}
.weekness{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    font-family: "Flexo-Medium";
    font-style: normal;
    color: #000;
    font-weight: 400;
    font-size: 20px;
}
.weekness-title{
    font-family: "Flexo-Medium";
    font-style: normal;
    color: #000;
    font-weight: 400;
    font-size: 20px;  
}
.item-weekness-cls{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item-weekness-cls>p{
    font-size: 17px;  
    font-size: 17px;
    margin-left: 10px;
    padding: 2px 20px;
    background-color: beige;
    border-radius: 5px;
}
.chi-so-pokemon>p{
    font-family: "Flexo-Medium";
    font-style: normal;
    color: #000;
    font-weight: 400;
    font-size: 20px;  
    margin-bottom: 0px;
    padding-left: 30px;
}
.table-stats{
    padding-left: 10px;
}
.table-stats>li{
    display: inline-block;

}
.gauge{
    list-style: none;
    padding-left: 5px;
}
.table-stats>li{
    float: left;
    display: inline-block;
}
.gauge{
    position: relative;
    overflow: hidden;
}
.table-stats>li>.gauge>li{
 
    background: transparent;
    margin-top: 5px;
    height: 10px;
    width: 55px;
    position: relative;
    background-color: #fff;
    z-index: 2;
   
}
.table-stats>li>span{
    padding-left: 10px;
    box-sizing: border-box;
    font-family: "Flexo-Bold";
    font-style: normal;
    color: #000;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    text-transform: none;
    float: left;
    white-space: pre-line;
}
.stats-row-color{
    background-color: #30a7d7 !important;
}