<div class="container ">
    <h3 class="text-center mt-3">Trang Quản lý </h3>
    <div class="d-flex justify-content-center mt-4">
        <a href="/admin/pokemon" class="text-decoration-none">
            <div class=" card text-white bg-primary mb-3 ml-4" style="max-width: 18rem; width:270px">
                <div class="card-header"><img src="/public/img//pokeball-white.png" style="width:25px"> Quản lý Pokemon</div>
                <div class="card-body w-100">
                    <h5 class="card-title">Pokemon</h5>
                    <p class="card-text">Số lượng pokem hiện có : </p>
                    <p class="card-text">{{total}}</p>
                </div>
            </div>
        </a>
        <a href="" id="taf" class="text-decoration-none">
            <div class=" card text-white bg-success mb-3 ml-4" style="max-width: 18rem; width:270px">
                <div class="card-header"> <i class="fas fa-users"></i> Quản lý user</div>
                <div class="card-body  w-100">
                    <h5 class="card-title">Người dùng</h5>
                    <p class="card-text">Số lượng user hiện có : </p>
                    <p class="card-text">34</p>
                </div>
            </div>
        </a>
    </div>
</div>
{{#section 'js'}}
    <script>
           var tg= document.getElementById("taf")
           tg.onclick = ()=>{
               alert("Chức năng đang được cập nhật")
           }
    </script>
{{/section}}